/* css reset start */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
a{
	text-decoration: none;
	outline: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
}
/* CSS reset end */
body{
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
}
.center{
	margin: 0 auto;
}
.headerFooterContainer{
width: 100%;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
top: 60px;
position: absolute;
padding: 0 40px;
}
header{
	max-width: 1280px;
	margin: 0 auto;
	position: relative;
}
.mainContainer{
	max-width: 1280px;
	margin: 0 auto;
}
h1{
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 110%;
	color: #F1CDB3;
}
.subtitle{
	margin-top: 10px;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;	
	padding-left: 4px;
	color: white;
}
ul{
	display: flex;
	gap: 35px;	
}
.listItem{
	color: #CDCDCD;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;

}
.notOnly{
	background: url(./assets/start-screen-gradient-background.png);
	background-size: cover;
	height: 908px;
	min-width: 100%;
	padding-top: 180px;	
}
.startContainer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
}
.startImg{
	display: block;
	margin-left: 42px;
	/* width: 54.53% */
}
h2{
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 44px;
	line-height: 130%;
	color: #FFFFFF;
}
.propos{
	color: #CDCDCD;
	margin-top: 42px;
}
button{
border: #F1CDB3 solid 1px;
border-radius: 100px;
padding: 15px 45px;
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 130%;
letter-spacing: 0.06em;
color: #292929;
background-color: #FFFFFF;
}
.orangeButton{
	background-color: #F1CDB3;
	margin-top: 42px;
}
section#about{
	height: 588px;
	padding: 80px 16.797% 100px;
}
.about{
	display: flex;
	align-items: center;
	gap: 9.375%;	
}
.presentation{
	color: #4C4C4C;
	display: flex;
	flex-direction: column;
	gap: 25px;
}
h3{
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #545454;
}
section#ourFriends{
	padding: 80px 40px 100px;
	background: #F6F6F6;
	width: 100%;
	text-align: center;
}
.sliderContainer{	
	display: flex;
	width: 100%;
	margin: 60px auto;
	position: relative;
}

.roundButton{
	width: 52px;
	height: 52px;
	border: 2px solid #F1CDB3;
	border-radius: 100px;
	display: flex;
	align-items: center;
	padding-left: 17px;
}
.slideLeft{
	position: absolute;	
	left: 0;
}
.slideRight{
	position: absolute;
	right: 0;
}
.arrow{
	transform: rotate(180deg)
}
